{% extends "teamspirit/base.html" %}

{% block content %}

<style>
.welcome {
    width:200px;
    height:20px;
    height:auto;
    position:absolute;
    left:50%;
    margin-left:-100px;
    bottom:10px;
    background-color: #383838;
    color: #F0F0F0;
    font-family: Calibri;
    font-size: 20px;
    padding:10px;
    text-align:center;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    -moz-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    display: none;
}
</style>

<h1 class="featurette-heading" style="margin-top: 40px;"><span class="text-muted">Hi there, {{ request.user.username }}</span></h1>
<ul class="nav nav-tabs">
    <li class="active"><a  data-toggle="tab" href="#all">All Teams</a></li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Teams I Own
            <span class="caret"></span></a>
        <ul class="dropdown-menu">
            {% for t in context.teams_i_own %}
            <li><a data-toggle="tab" href="#own{{ t.id }}">{{ t.name }}</a></li>
            {% endfor %}
        </ul>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Teams I Am A Member Of
            <span class="caret"></span></a>
        <ul class="dropdown-menu">
            {% for t in context.teams_i_am_member_of %}
            <li><a data-toggle="tab" href="#mem{{ t.id }}">{{ t.name }}</a></li>
            {% endfor %}
        </ul>
    </li>
</ul>
<div class="tab-content">
    <div id="all" class="tab-pane fade in active">
        {% for t in context.teams_i_own %}
        <div>
            <h3>{{ t.name }}</h3>
            <li><h4>Members</h4></li>
            <ul>
                {% for m in t.members.all %}
                <li>({{ m.username }}) {{ m.first_name }} {{ m.last_name }}</li>
                {% endfor %}
                <li><a href="{% url 'member_add' t.id %}">[add member]</a>&nbsp;</li>
            </ul>
            <li><h4>Sessions</h4></li>
            <ul class="session">
                {% for s in t.session_team.all %}
                <li class="dashboard-li"><strong>{{ s.name }}</strong> - {{ s.start_time }}<br><br>
                <!--
                    {% for x in s.session_state_session.all %}
                    user: {{ x.user.username }}<br/>
                    state: {{ x.state}}<br/>
                    time: {{ x.timestamp}}<br/>
                    <br/>
                    {% endfor %}
                -->
                    {% if s.is_open %}

                    <div style="width: 800px;">
                        <div class="protocol-panel" style="float: left; width: 400px;">

                            <div class=" protocol-panel panel panel-success" style="max-width: 395px"> <div class="panel-heading"> <h3 class="panel-title">Check In Protocol</h3> </div> 
                                <div class="panel-body"> 
                                    <button data-session-id={{s.id}} data-emotion="Sad"    class="btn btn-success emotion-button" type="submit">Sad</button>
                                    <button data-session-id={{s.id}} data-emotion="Glad"   class="btn btn-success emotion-button" type="submit">Glad</button>
                                    <button data-session-id={{s.id}} data-emotion="Mad"    class="btn btn-success emotion-button" type="submit">Mad</button>
                                    <button data-session-id={{s.id}} data-emotion="Afraid" class="btn btn-success emotion-button" type="submit">Afraid</button><br> 
                                </div> 
                            </div>
                        </div>

                        <div style="float: left; width: 195px;">
                            <div class="panel protocol-panel panel-warning" style="max-width: 200px"> <div class="panel-heading"> <h3 class="panel-title">Check Out Protocol</h3> </div> <div class="panel-body">
                                <a href="/team/session/emotion/record/?session_id={{s.id}}&emotion=Check Out"><button class="btn btn-warning" type="submit">Check Out</button></a><br></div> </div>
                        </div>

                        <div style="float: left; width: 195px;">
                            <div class="panel  protocol-panel panel-info" style="max-width: 200px"> <div class="panel-heading"> <h3 class="panel-title">Passer Protocol</h3> </div> <div class="panel-body"><a href="/team/session/emotion/record/?session_id={{s.id}}&emotion=Pass"><button class="btn btn-info" type="submit">Pass</button></a></div> </div>
                        </div>
                        <br style="clear: left;" />
                    </div>

                    <a href="/team/session/close/?session_id={{s.id}}"><button class="btn btn-primary" type="submit">Close Session</button></a>
                    {% endif %}
                    <a href="{% url 'session_stats' s.id %}"><button class="btn btn-danger" type="submit">Stats!</button></a>
                    <button type="button" class="btn btn btn-danger" data-toggle="popover" title="Stats" data-content="And here's some amazing content. It's very engaging. Right?">put stats data in this popover</button>
                </li>
                {% endfor %}
                <li><a href="{% url 'session_add' t.id %}">[add session]</a></li>
            </ul>
        </div>
        {% endfor %}
        {% for t in context.teams_i_am_member_of %}
        <div>
            <h3>{{ t.name }}</h3>
            <li><h4>Members</h4></li>
            <ul>
                {% for m in t.members.all %}
                <li>({{ m.username }}) {{ m.first_name }} {{ m.last_name }}</li>
                {% endfor %}
            </ul>
            <li><h4>Sessions</h4></li>
            <ul>
                {% for s in t.session_team.all %}
                <li>{{ s.start_time }} - {{ s.name }}
                    {% if s.is_open %}

                    <button data-session-id={{s.id}} data-emotion="Sad"    class="btn btn-success emotion-button" type="submit">Sad</button>
                    <button data-session-id={{s.id}} data-emotion="Glad"   class="btn btn-success emotion-button" type="submit">Glad</button>
                    <button data-session-id={{s.id}} data-emotion="Mad"    class="btn btn-success emotion-button" type="submit">Mad</button>
                    <button data-session-id={{s.id}} data-emotion="Afraid" class="btn btn-success emotion-button" type="submit">Afraid</button><br> 

                    <a href="/team/session/emotion/record/?session_id={{s.id}}&emotion=Check Out"><button class="btn btn-info" type="submit">Check Out</button></a>
                    <a href="/team/session/emotion/record/?session_id={{s.id}}&emotion=Pass"><button class="btn btn-warn" type="submit">Pass</button></a>
                    {% endif %}
                    <a href="{% url 'session_stats' s.id %}"><button class="btn btn-danger" type="submit">Stats!</button></a>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
    {% for t in context.teams_i_own %}
    <div id="own{{ t.id }}" class="tab-pane fade">
        <h3>{{ t.name }}</h3>
        <li><h4>Members</h4></li>
        <ul>
            {% for m in t.members.all %}
            <li>({{ m.username }}) {{ m.first_name }} {{ m.last_name }}</li>
            {% endfor %}
            <li><a href="{% url 'member_add' t.id %}">[add member]</a>&nbsp;</li>
        </ul>
        <li><h4>Sessions</h4></li>
        <ul class="session">
            {% for s in t.session_team.all %}
            <li class="dashboard-li"><strong>{{ s.name }}</strong> - {{ s.start_time }}<br><br>
                {% if s.is_open %}



                <div style="width: 800px;">
                    <div class="protocol-panel" style="float: left; width: 400px;">

                        <div class=" protocol-panel panel panel-success" style="max-width: 395px"> <div class="panel-heading"> <h3 class="panel-title">Check In Protocol</h3> </div> 
                                <div class="panel-body"> 
                                    <button data-session-id={{s.id}} data-emotion="Sad"    class="btn btn-success emotion-button" type="submit">Sad</button>
                                    <button data-session-id={{s.id}} data-emotion="Glad"   class="btn btn-success emotion-button" type="submit">Glad</button>
                                    <button data-session-id={{s.id}} data-emotion="Mad"    class="btn btn-success emotion-button" type="submit">Mad</button>
                                    <button data-session-id={{s.id}} data-emotion="Afraid" class="btn btn-success emotion-button" type="submit">Afraid</button><br> 
                                </div>  
                            </div>
                    </div>

                    <div style="float: left; width: 195px;">
                        <div class="panel protocol-panel panel-warning" style="max-width: 200px"> <div class="panel-heading"> <h3 class="panel-title">Check Out Protocol</h3> </div> <div class="panel-body">
                            <a href="/team/session/emotion/record/?session_id={{s.id}}&emotion=Check Out"><button class="btn btn-warning" type="submit">Check Out</button></a><br></div> </div>
                    </div>

                    <div style="float: left; width: 195px;">
                        <div class="panel  protocol-panel panel-info" style="max-width: 200px"> <div class="panel-heading"> <h3 class="panel-title">Passer Protocol</h3> </div> <div class="panel-body"><a href="/team/session/emotion/record/?session_id={{s.id}}&emotion=Pass"><button class="btn btn-info" type="submit">Pass</button></a></div> </div>
                    </div>
                    <br style="clear: left;" />
                </div>

                <a href="/team/session/close/?session_id={{s.id}}"><button class="btn btn-primary" type="submit">Close Session</button></a>
                {% endif %}
                <a href="{% url 'session_stats' s.id %}"><button class="btn btn-danger" type="submit">Stats!</button></a>
                <button type="button" class="btn btn btn-danger" data-toggle="popover" title="Stats" data-content="And here's some amazing content. It's very engaging. Right?">put stats data in this popover</button>
            </li>
            {% endfor %}
            <li><a href="{% url 'session_add' t.id %}">[add session]</a></li>
        </ul>
    </div>
    {% endfor %}
    {% for t in context.teams_i_am_member_of %}
    <div id="mem{{ t.id }}" class="tab-pane fade">
        <h3>{{ t.name }}</h3>
        <li><h4>Members</h4></li>
        <ul>
            {% for m in t.members.all %}
            <li>({{ m.username }}) {{ m.first_name }} {{ m.last_name }}</li>
            {% endfor %}
        </ul>
        <li><h4>Sessions</h4></li>
        <ul>
            {% for s in t.session_team.all %}
            <li>{{ s.start_time }} - {{ s.name }}
                {% if s.is_open %}
                <button data-session-id={{s.id}} data-emotion="Sad"    class="btn btn-success emotion-button" type="submit">Sad</button>
                <button data-session-id={{s.id}} data-emotion="Glad"   class="btn btn-success emotion-button" type="submit">Glad</button>
                <button data-session-id={{s.id}} data-emotion="Mad"    class="btn btn-success emotion-button" type="submit">Mad</button>
                <button data-session-id={{s.id}} data-emotion="Afraid" class="btn btn-success emotion-button" type="submit">Afraid</button><br> 

                <a href="/team/session/emotion/record/?session_id={{s.id}}&emotion=Check Out"><button class="btn btn-info" type="submit">Check Out</button></a>
                <a href="/team/session/emotion/record/?session_id={{s.id}}&emotion=Pass"><button class="btn btn-warn" type="submit">Pass</button></a>
                {% endif %}
                <a href="{% url 'session_stats' s.id %}"><button class="btn btn-danger" type="submit">Stats!</button></a>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>
<div class="welcome">
Welcome {{ request.user.first_name }}
</div>

{% endblock %}

{% block jquery%}

    $( ".emotion-button" ).click(function() {
        session_id = $(this).attr("data-session-id") 
        emotion = $(this).attr("data-emotion") 
        $.get( "/team/session/emotion/record/?session_id=" + session_id + "&emotion=" + emotion, function( data ) {
            $('.welcome').fadeIn(400).delay(1000).fadeOut(400); 
        });
    });
{% endblock %}