<!DOCTYPE html>
<html lang="en">
<head>
    <title>Team&#x2605;Spirit</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS -->
    {% load staticfiles %}
    <link href="{% static 'bootstrap-3.3.6-dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'font-awesome-4.6.3/css/font-awesome.min.css' %}">
    <link rel="icon" href="{% static 'assets/favicon.ico' %}">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="{% static 'bootstrap-3.3.6-dist/css/carousel.css' %}" rel="stylesheet">
    <link href="{% static 'css/background.css' %}" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Buenard:700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=La+Belle+Aurore' rel='stylesheet' type='text/css'>

</head>
<!-- NAVBAR
Moving Background Images
  http://cdn.calm.com/scenes/scene-nEiN7iOVb3.mp4?v=1424734029666 - Clouds
  http://cdn.calm.com/scenes/scene-Qqkzy9k7Eo.mp4?v=1418162238190 - Mountain Lake
  http://cdn.calm.com/scenes/scene-nGWcJdvlQ2.mp4?v=1418162807311 - Rain on Leaves
  http://cdn.calm.com/scenes/scene-HKceZ4c2nt.mp4?v=1418162711606 - Sunset Beach
  http://cdn.calm.com/scenes/scene-WdVY0QGD4.mp4?v=1450780565679 - Planet Earth
  http://cdn.calm.com/scenes/scene-Jcmdfl7dA7.mp4?v=1418090110509 - Foggy Stream
  http://cdn.calm.com/scenes/scene-N0LlltMMDH.mp4?v=1417688424364 - Pouring Rain
  http://cdn.calm.com/scenes/scene-AI2PpDVaKc.mp4?v=1417688493900 - Under Water
  http://cdn.calm.com/scenes/scene-7EIjhZ98C7.mp4?v=1417688565555 - Rythmic Waves
  http://cdn.calm.com/scenes/scene-UGH2oUBMyM.mp4?v=1417688537593 - Flowing Streams
================================================== -->
<body>
<video autoplay loop muted poster="assets/" id="background">
    <source src="{% static 'assets/pouringRain.mp4' %}" type="video/mp4">
</video>
<div class="container">
    <img class='centered-logo' style="width:50%" src="{% static 'assets/teamspirit.png' %}">
    <div class="label" style="color: white; opacity: 1;">
    <div class="h2" ><strong>Every remote agile team living in greatness</strong></div>
        </div>
    <div class="label">
        <a class="btn btn-primary btn-lg" href="/login/" role="button" id="id_signin">Sign In</a>
        <a href="{% url 'sign_up' %}" class="btn btn-link btn-md" id="id_signup" role="button" style="color:white">Sign Up</a>
    </div>
</div>

<!-- Marketing messaging and featurettes================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">
    <!-- Three columns of text below the carousel -->

    <div class="h3" style="color: white" align="center"><strong>TeamSpirit is an application used by agile teams implementing the
        CheckIn, CheckOut and Pass
        Protocols from remote locations.</strong></div>
    <div class="row">

        <div class="col-lg-4">
            <i class="fa fa-sign-in fa-5x" style="color: white"></i>
            <!-- <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140"> -->
        <div class="h2" style="color: white"><strong>CheckIn</strong></div>
            <div class="p" style="color: white"><strong>Behavior characterized by high levels of engagement, substantial
                presence, disclosure of self, and
                receptivity to others.</strong></div>

        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <i class="fa fa-sign-out fa-5x" style="color: white"></i>
            <!-- <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140"> -->
           <div class="h2" style="color: white"><strong>CheckOut</strong></div>
            <div class="p" style="color: white"><strong>Absence due to awareness of low productivity or unresolved
                conflicting commitments.</strong></div>

        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <i class="fa fa-user-times fa-5x" style="color: white"></i>
            <!-- <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140"> -->
            <div class="h2" style="color: white"><strong>Pass</strong></div>
            <div class="p" style="color: white"><strong>To expliciity choose to forgo something.</strong></div>

        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <!--       <hr class="featurette-divider">

          <div class="row featurette">
            <div class="col-md-7">
              <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
              <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5">
              <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
            </div>
          </div>

          <hr class="featurette-divider">

          <div class="row featurette">
            <div class="col-md-7 col-md-push-5">
              <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
              <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5 col-md-pull-7">
              <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
            </div>
          </div>

          <hr class="featurette-divider">

          <div class="row featurette">
            <div class="col-md-7">
              <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
              <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5">
              <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
            </div>
          </div>

          <hr class="featurette-divider"> -->


    <!-- /END THE FEATURETTES -->

    <hr class="featurette-divider">
    <!-- FOOTER -->
    <footer style="color: white;">
        <p>&copy; 2016 Team Agile6&#x2605;</p>
    </footer>

</div><!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
    window.jQuery || document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"><\/script>')




</script>
{% load staticfiles %}
<script src="{% static 'js/carousel.js' %}"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="{% static 'assets/js/vendor/holder.min.js' %}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!-- <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->
</body>
</html>
