{% extends "teamspirit/base.html" %}

{% block content %}

  <div class='page-form'>
          <h3>Create session for Team: {{ context.team.name }}</h3>
        <form action="" method="post" style="display: inline;">{% csrf_token %}
        {{ form.non_field_errors }}

          <div class="form-group" >
            <label for="id_name">Session Name</label>
            <input type="text" id="id_name" name="name" class="form-control"  placeholder="Session Name" lowercase required>
          </div>

        <input type="submit" class="btn btn-primary" value="Submit" />
        </form>
      <a href="{% url 'dashboard' %}"><button class="btn btn-info">Cancel</button></a>

    </div>

    {% endblock %}
