<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Team&#x2605;Spirit</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS -->
    {% load staticfiles %}
    <link href="{% static 'bootstrap-3.3.6-dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="icon" href="{% static 'assets/favicon.ico' %}">
    <link href="{% static 'css/background.css' %}" rel="stylesheet">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="{% static 'bootstrap-3.3.6-dist/css/carousel.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Caveat|Homemade+Apple|Titillium+Web:300, bold" rel="stylesheet">
</head>
<!-- NAVBAR
================================================== -->

<body class="signup" style="color: white">
<video autoplay loop muted poster="screenshot.jpg" id="background">
    <source src="{% static 'assets/rainLeaves.mp4' %}" type="video/mp4">
</video>
<div class="container">
        <!--<img class='centered-logo' style="width:50%" src="{% static 'assets/teamspirit.png' %}">-->
            <a href="../../"><img class='centered-logo' alt="TeamSpirit Logo" src="{% static 'assets/teamspirit.png' %}" width="50%"></a>

</div>


<div class="container-fluid">
   <h3 class="col-md-12 text-center"><strong>Create a TeamSpirit Account</strong> </h3>
  <div class="row">
    <div class="col-sm-4">
            <form data-parsley-validate="" name="" method="post" class="signin" novalidate autocomplete="on">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input type="text" id="id_first_name" name="first_name" class="form-control"
                               placeholder="First Name" required>
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input type="text" id="id_last_name" name="last_name" class="form-control"
                               placeholder="Last Name" required>
                    </div>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" id="id_username" name="username" class="form-control" placeholder="Username"
                               lowercase required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="id_email" name="email" class="form-control" placeholder="Email"
                               lowercase required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="id_password" name="password" class="form-control" required>
                    </div>
    </div>
    <div class="col-sm-8">

        <div class="form-group">
                        <label for="Agreement" style="text-decoration: underline;"><strong> Team Spirit Agreement </strong></label>
                        <p><strong>“Authenticity, integrity, and consistency are the highest values associated with
                            CheckIn. Increasing personal proximity is the foundation of The Core protocols and is the
                            basis for The Core’s style of teamwork."</strong></p>
                        <div class="checkbox">
                            <label>No discussion is allowed during CheckIn- only welcome at the end of each CheckIn.
                                Gauge and note the congruency of your own emotional response to the CheckIn.
                            </label></div>
                        <div class="checkbox">
                            <label>Do not discuss about your own CheckIn before or after CheckIn
                            </label></div>
                        <div class="checkbox">
                            <label>Do not ask about, reference, or disclose another’s CheckIn
                            </label></div>
                        <div class="checkbox">
                            <label>Do not blame others for your emotions during CheckIn
                            </label></div>
                        <div class="checkbox">
                            <label>Do not use CheckIn to talk about, yell at, get “pissed off” at, or confront another
                                team member or anyone who is not present.
                            </label></div>
                        <p><strong>By adhering to the CheckIn protocol, you understand that by checking in will thereby:
                        </strong></p>
                        <div class="checkbox">
                            <label>Bring yourself as fully as possible to the work;
                            </label></div>
                        <div class="checkbox">
                            <label>Connect yourself as efficiently as possible with teammates;
                            </label></div>
                        <div class="checkbox">
                            <label>Fully engage your passion in the context of the team’s work; and
                            </label></div>
                        <div class="checkbox">
                            <label>Create a more meaningful, higher-bandwidth channel with the rest of the team.
                            </label></div>
                        <div class="checkbox">
                            <label><input type="checkbox" data-parsley-required="true" data-parsley-mincheck="1"
                                          name="protocols[]" id="protocol1" value="1"><strong>By checking this box, you
                                agree to the process of the CheckIn, CheckOut and Pass protocols stated above.</strong>
                            </label></div>
                    </div>
                    <div class="bs-callout bs-callout-warning hidden">
                        <h4>Oh snap!</h4>
                        <p>This form seems to be invalid. Make sure you have agreed to use all CORE PROTOCOLS!</p>
                    </div>
                    <input class="btn btn-primary btn-lg" id="id_signup" type="submit">

                </form>
    </div>
  </div>
</div>

        <!-- <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Team&#x2605;Spirit</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="{% url 'team_create' %}">Create Team</a></li>
                <li><a href="/logout/">Sign Out</a></li>
                
              </ul>
            </div>
          </div>
        </nav> -->

        <!-- </div> -->
        <!-- </div> -->


        <script src="https://code.jquery.com/jquery-2.2.4.min.js"
                integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
                integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
                crossorigin="anonymous"></script>
    </div><!-- /.container -->

    <!-- FOOTER -->
   <hr class="featurette-divider">
    <!-- FOOTER -->
    <footer style="color: white;">
        <p>&copy; 2016 Team Agile6&#x2605;</p>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>
        window.jQuery || document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"><\/script>')

    </script>
    {% load staticfiles %}
    <script src="{% static 'js/carousel.js' %}"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="{% static 'assets/js/vendor/holder.min.js' %}"></script>
    <script src="{% static 'js/parsley.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->

    <script>
    $('.parsley-required').css('color', 'red');
      $(function () {
        $('.signin').parsley().on('field:validated', function() {
          var ok = $('.parsley-error').length === 0;
          $('.bs-callout-info').toggleClass('hidden', !ok);
          $('.bs-callout-warning').toggleClass('hidden', ok);
        })
        .on('form:submit', function() {
          
        });
      });


    </script>
</body>
</html>