<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>


	        <div>

	        <h3>Create Team</h3>
				<form action="" method="post">{% csrf_token %}
				{{ form.non_field_errors }}

				<table class="table">

				<tr class="fieldWrapper">
				<td>
				    <b>Name</b>: 
				</td>
				<td>
				    {{ form.name }}
				    {{ form.name.errors }}
				</td>
				</tr>
				</table>

				<input type="submit" class="btn btn-primary" value="Submit" />
				</form>
				<a href="/"><button class="btn btn-info">Cancel</button></a>

			</div>

</body>
</html>