#background {
    position: fixed;
    opacity:0.7;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover;
}
.container h2 {
    color: white;
    font-family: 'La Belle Aurore', cursive;
}

.h2 {
/*font-family: 'La Belle Aurore', cursive;
font-family: 'Caveat', cursive;*/
font-family: 'Homemade Apple', cursive;
text-shadow: 4px 4px 4px #000;
}
.t2 {
font-family: 'Caveat', cursive;
font-size: 28px;
}

.signup{
font-family: 'Titillium Web', sans-serif;
font-color: 'white';
text-shadow: 1px 1px 1px #000;
}

.wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
}